menu "Nabto 5 example configuration"

	config SSID
		string "WIFI access point name (SSID)"
		default "myaccesspoint"
		help
			Enter the name of the WIFI access point

	config SSID_PASSWORD
		string "WIFI password"
		default "12345678"
		help
			Enter ssid password


	config NABTO_DEVICE
		string "Nabto Device ID"
		default "de-abcdefgh"
		help
			Enter the Nabto id - you can get one by signing up to the nabto console
		
	config NABTO_PRODUCT
		string "Nabto product ID"
		default "pr-abcdefgh"
		help
			Enter the product id - you can get one by signing up to the nabto conole

	config NABTO_SERVER
		string "Nabto basestation/server hostname" 
		default "pr-aaaaaaaa.devices.dev.nabto.net"
		help
			Enter the hostname of the basestation cluster

	config NABTO_CLIENT_SERVERKEY
		string "The app's server key to be used" 
		default "sk-cccccccccccccccccccccccccccccccc"
		help
			Enter the app's serverkey

	config NABTO_CLIENT_SERVERURL
		string "The app's server url to be used" 
		default "https://pr-aaaaaaaa.clients.dev.nabto.net"
		help
			Enter the app's server url to be used

endmenu
