[submodule "nabto-embedded-sdk"]
	path = nabto-embedded-sdk
	url = https://github.com/nabto/nabto-embedded-sdk
[submodule "examples/components/esp32-camera"]
	path = examples/components/esp32-camera
	url = https://github.com/espressif/esp32-camera
