menu "Nabto 5 example configuration"

	config SSID
		string "WIFI access point name (SSID)"
		default "myaccesspoint"
		help
			Enter the name of the WIFI access point

	config SSID_PASSWORD
		string "WIFI password"
		default "12345678"
		help
			Enter ssid password


	config NABTO_DEVICE
		string "Nabto Device ID"
		default "de-abcdefgh"
		help
			Enter the Nabto id - you can get one by signing up to the nabto console
		
	config NABTO_PRODUCT
		string "Nabto product ID"
		default "pr-abcdefgh"
		help
			Enter the product id - you can get one by signing up to the nabto conole



endmenu
